

<%= link_to 'New Post', new_post_path %>

  <div class="wrapper center">
    <div class="content center">
    <% @posts.each do |post| %>
        <article class="blog-post">

          <div class="blog-date">
            31 Jul
          </div>

          <div class="blog-wrapper">
            <div class="metrics">
              <div class="tags">
                tags: <%= post.tag %>
              </div>
              <div class="likes">
                <%= post.like %> Likes
              </div>
              <div>
                21 Comments
              </div>   
            </div>
            <div class="blog-content">
              <div class="blog-header">
                <%= post.title %>
              </div>
              <p class="blog-text">
                <%= post.body %>
              </p>
              <div class='read-more'>
                <a href="" target="_blank"><%= link_to 'Read More', post %></a>
              </div>  
            </div>   
          </div>  
        </article> 
    <% end %>
    </div>  
  </div>  
  



